In [2]:
import pandas as pd

# 시도지역코드 불러오기

In [10]:
sido = pd.read_csv('data\질병data\시도지역코드.csv', encoding='EUC-KR')
sido.head()

   시도지역코드 지역명
0      11  서울
1      26  부산
2      27  대구
3      28  인천
4      29  광주

In [9]:
sido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도지역코드  17 non-null     int64
 1   지역명     17 non-null     object
dtypes: int64(1), object(1)
memory usage: 404.0+ bytes

# 시도별 진료정보 불러오기

In [23]:
import os

path = 'data/질병data/'
file_list = os.listdir(path)
file_list

df = pd.DataFrame()
keywords = ['감기','눈병','천식','피부염']

for i in file_list:
    if i.endswith('_시도.csv'):
        # print(i)
        data = pd.read_csv(path+i, encoding='euc-kr')

        # if '감기' in i:
        #     data['구분'] = '감기'
        # elif '눈병' in i:
        #     data['구분'] = '눈병'
        # elif '천식' in i:
        #     data['구분'] = '천식'
        # elif '피부염식' in i:
        #     data['구분'] = '피부염'
        for key in keywords:
            if key in i:
                data['구분']=key
                break
        
        df = pd.concat([df,data])

In [27]:
df.head()
df.shape

(141588, 4)

In [28]:
df.columns

Index(['날짜', '시도지역코드', '발생건수(건)', '구분'], dtype='object')

In [29]:
sido.columns

Index(['시도지역코드', '지역명'], dtype='object')

In [32]:
# 시도 지역코드의 지역명 가져오기
data_merge=pd.merge(df,sido,how='left',on='시도지역코드')
data_merge

                날짜  시도지역코드  발생건수(건)   구분  지역명
0       2023-10-01    11.0  17218.0   감기   서울
1       2023-10-01    26.0   5699.0   감기   부산
2       2023-10-01    27.0   3590.0   감기   대구
3       2023-10-01    28.0   7524.0   감기   인천
4       2023-10-01    29.0   3044.0   감기   광주
...            ...     ...      ...  ...  ...
141583         NaN     NaN      NaN  NaN  NaN
141584         NaN     NaN      NaN  NaN  NaN
141585         NaN     NaN      NaN  NaN  NaN
141586         NaN     NaN      NaN  NaN  NaN
141587         NaN     NaN      NaN  NaN  NaN

[141588 rows x 5 columns]