In [2]:
import pandas as pd

# 시도지역코드 불러오기

In [3]:
sido = pd.read_csv('data\질병data\시도지역코드.csv', encoding='EUC-KR')
sido.head()

   시도지역코드 지역명
0      11  서울
1      26  부산
2      27  대구
3      28  인천
4      29  광주

In [4]:
sido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도지역코드  17 non-null     int64
 1   지역명     17 non-null     object
dtypes: int64(1), object(1)
memory usage: 404.0+ bytes

# 시도별 진료정보 불러오기

In [5]:
import os

path = 'data/질병data/'
file_list = os.listdir(path)
file_list

df = pd.DataFrame()
keywords = ['감기','눈병','천식','피부염']

for i in file_list:
    if i.endswith('_시도.csv'):
        # print(i)
        data = pd.read_csv(path+i, encoding='euc-kr')

        # if '감기' in i:
        #     data['구분'] = '감기'
        # elif '눈병' in i:
        #     data['구분'] = '눈병'
        # elif '천식' in i:
        #     data['구분'] = '천식'
        # elif '피부염식' in i:
        #     data['구분'] = '피부염'
        for key in keywords:
            if key in i:
                data['구분']=key
                break
        
        df = pd.concat([df,data])

In [6]:
df.head()
df.shape

(141588, 4)

In [7]:
df.columns

Index(['날짜', '시도지역코드', '발생건수(건)', '구분'], dtype='object')

In [8]:
sido.columns

Index(['시도지역코드', '지역명'], dtype='object')

In [9]:
# 시도 지역코드의 지역명 가져오기
data_merge=pd.merge(df,sido,how='left',on='시도지역코드')
data_merge

                날짜  시도지역코드  발생건수(건)   구분  지역명
0       2023-10-01    11.0  17218.0   감기   서울
1       2023-10-01    26.0   5699.0   감기   부산
2       2023-10-01    27.0   3590.0   감기   대구
3       2023-10-01    28.0   7524.0   감기   인천
4       2023-10-01    29.0   3044.0   감기   광주
...            ...     ...      ...  ...  ...
141583         NaN     NaN      NaN  피부염  NaN
141584         NaN     NaN      NaN  피부염  NaN
141585         NaN     NaN      NaN  피부염  NaN
141586         NaN     NaN      NaN  피부염  NaN
141587         NaN     NaN      NaN  피부염  NaN

[141588 rows x 5 columns]

In [10]:
data_merge['지역명'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주', '전국', nan], dtype=object)

In [11]:
data_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141588 entries, 0 to 141587
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   날짜       10264 non-null   object
 1   시도지역코드   10264 non-null   float64
 2   발생건수(건)  10264 non-null   float64
 3   구분       141588 non-null  object
 4   지역명      10264 non-null   object
dtypes: float64(2), object(3)
memory usage: 5.4+ MB

In [12]:
data_merge['년/월'] = data_merge['날짜'].str[:7]
data_merge.head()

           날짜  시도지역코드  발생건수(건)  구분 지역명      년/월
0  2023-10-01    11.0  17218.0  감기  서울  2023-10
1  2023-10-01    26.0   5699.0  감기  부산  2023-10
2  2023-10-01    27.0   3590.0  감기  대구  2023-10
3  2023-10-01    28.0   7524.0  감기  인천  2023-10
4  2023-10-01    29.0   3044.0  감기  광주  2023-10

In [13]:
data_merge[data_merge['지역명'] != '전국']

                날짜  시도지역코드  발생건수(건)   구분  지역명      년/월
0       2023-10-01    11.0  17218.0   감기   서울  2023-10
1       2023-10-01    26.0   5699.0   감기   부산  2023-10
2       2023-10-01    27.0   3590.0   감기   대구  2023-10
3       2023-10-01    28.0   7524.0   감기   인천  2023-10
4       2023-10-01    29.0   3044.0   감기   광주  2023-10
...            ...     ...      ...  ...  ...      ...
141583         NaN     NaN      NaN  피부염  NaN      NaN
141584         NaN     NaN      NaN  피부염  NaN      NaN
141585         NaN     NaN      NaN  피부염  NaN      NaN
141586         NaN     NaN      NaN  피부염  NaN      NaN
141587         NaN     NaN      NaN  피부염  NaN      NaN

[140980 rows x 6 columns]

In [16]:
data_merge.groupby(['년/월','구분'],as_index=False)['발생건수(건)'].mean()

        년/월   구분       발생건수(건)
0   2023-10   감기  55969.832061
1   2023-10   눈병   3964.194656
2   2023-10   천식   2096.524809
3   2023-10  피부염   5402.440840
4   2023-11   감기  67459.446640
5   2023-11   눈병   3741.800395
6   2023-11   천식   2455.233202
7   2023-11  피부염   4975.818182
8   2023-12   감기  70504.309751
9   2023-12   눈병   3576.437859
10  2023-12   천식   2512.095602
11  2023-12  피부염   4459.441683
12  2024-01   감기  57746.124046
13  2024-01   눈병   3507.234733
14  2024-01   천식   2243.112595
15  2024-01  피부염   4494.711832
16  2024-02   감기  47242.451943
17  2024-02   눈병   3367.501022
18  2024-02   천식   1851.112474
19  2024-02  피부염   4398.163599